
.container {
    display: flex;
}

.text-to-read {
    font-size: 23px;
    font-weight: bolder;
}

.container {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
width: 100vw;
height: 100vh;
}

.nav { 
    grid-area: 1 / 1 / 2 / 6;
}

.text-to-read { 
    grid-area: 2 / 1 / 3 / 6; 
    font-size: 40px;
}

.text-btn {
	margin: auto;
	padding: 0;
	margin-right: 8px;
	font-size: 40px;
}

.text-btn:hover {
	cursor: pointer;
	color:rgba(255, 104, 104, 0.842);
	transition: .5s;
}

.reading-array {
	padding-top: 100px;
	margin-left: 200px;
}

#text-output { 
    grid-area: 3 / 1 / 4 / 6; 
    border: none;
}

.mic-btn {
    grid-area: 4 / 1 / 6 / 6; 
}

.mic-btn-start { 
    color: rgba(104, 255, 144, 0.842);
    width: 100px;
    border-radius: 50%;
  
}

.mic-btn-start:hover {
    box-shadow: 0 0 0 0 rgba(104, 255, 144, 0.842);
	transform: scale(1);
	animation: pulse_start 2s infinite;
}
.mic-btn-stop {  
    color: red;
    width: 100px;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgb(251, 4, 4);
	transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(251, 4, 4, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
	}
}

@keyframes pulse_start {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(104, 255, 144, 0.842);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgb(255, 255, 255);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgb(255, 255, 255);
	}
}
  
  